<div class="diavision-maxw am-padding-top-lg">
    <div class="am-text-center am-padding-top-lg">
        <img src="__PUBLIC__/diavision/imgs/title_news.png"/>
    </div>
</div>
<div class="diavision-index-newsCase">
    <img class="am-img-responsive" src="__PUBLIC__/diavision/imgs/content_newCase.jpg"/>
</div>
<div class="diavision-maxw am-padding-top-lg">
    <div class="am-text-center am-padding-top-lg">
        <img src="__PUBLIC__/diavision/imgs/title_success.png"/>
    </div>
    <div class="diavision-index-success am-g-collapse" style="min-height: 400px;">
        <div class="am-u-md-4 am-u-sm-12">
            <div class="am-slider am-slider-default" data-am-flexslider="{controlNav: false}">
                <ul class="am-slides">
                    <li>
                        <include file="Common/default_img"/>
                    </li>
                    <li>
                        <include file="Common/default_img"/>
                    </li>
                    <li>
                        <include file="Common/default_img"/>
                    </li>

                </ul>
            </div>
        </div>
        <div class="am-u-md-8" am-u-sm-12>
            <div class="am-g-collapse">
                <for start="0" end="6" step="1" name="k">
                    <div class="am-u-md-4 am-u-sm-2">
                        <include file="Common/default_img"/>
                    </div>
                </for>
            </div>
        </div>
    </div>
</div>
<div class="am-padding-top-lg am-margin-top-lg">
    <img class="am-img-responsive" src="__PUBLIC__/diavision/imgs/big_bannar2.jpg"/>
</div>
<div class="diavision-maxw">
    <div class="am-g-collapse">
        <div class="am-u-sm-12 am-u-md-6">
            <dt>
                <img class="am-img-responsive" src="__PUBLIC__/diavision/imgs/title_tradition.png"/>
            </dt>
            <div class="am-g-collapse">
                <div class="am-u-sm-8">
                    <include file="Common/default_img"/>
                </div>
                <div class="am-u-sm-4">
                    <include file="Common/default_img"/>
                    <include file="Common/default_img"/>
                </div>
            </div>
            <div class="am-g-collapse">
                <div class="am-u-sm-4">
                    <include file="Common/default_img"/>
                </div>
                <div class="am-u-sm-8">
                    <include file="Common/default_img"/>
                </div>
            </div>
        </div>
        <div class="am-u-sm-12 am-u-md-6">
            <dt>
                <img class="am-img-responsive" src="__PUBLIC__/diavision/imgs/titile_network.png"/>
            </dt>
            <div class="am-g-collapse">
                <div class="am-u-sm-8">
                    <include file="Common/default_img"/>
                </div>
                <div class="am-u-sm-4">
                    <include file="Common/default_img"/>
                    <include file="Common/default_img"/>
                </div>
            </div>
            <div class="am-g-collapse">
                <div class="am-u-sm-4">
                    <include file="Common/default_img"/>
                </div>
                <div class="am-u-sm-8">
                    <include file="Common/default_img"/>
                </div>
            </div>
        </div>
    </div>
</div>
