<css href="__PUBLIC__/cropper/cropper.min.css"/>
<js href="__PUBLIC__/cropper/cropper.min.js"/>
<section class="am-g am-g-fixed am-center">
    <h2 class="am-text-center">用户中心</h2>
    <div class="am-u-sm-4">
        <div class="am-panel am-panel-default">
            <h2>用户中心菜单</h2>
            <ul id="userMenu" class="am-list am-list-static">
                <li><a href="#">用户信息</a></li>
                <li><a href="__CONTROLLER__/user_avatar">动态</a></li>
                <li><a href="__CONTROLLER__/user_avatar">更换头像</a></li>
                <li><a href="__CONTROLLER__/user_avatar">操作记录</a></li>
            </ul>
        </div>
    </div>
    <div class="am-u-sm-8">
        <div class="am-panel am-panel-default">
            <div class="am-panel-bd am-cf">
                <section id=""></section>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {

    })
</script>
