<include file="Common/html_head"/>
<div id="msgFrame" class="am-g-fixed am-margin-top am-panel am-panle-default am-center" style="max-width:60%;">
    <div class="am-panel-hd">提示</div>
    <div class="am-panel-bd am-text-center">
        <div class="system-message">
            <?php if(isset($message)) {?>
            <h1><span class="am-icon-btn am-success am-icon-check am-text-xl"></span></h1>
            <p class="success"><?php echo($message); ?></p>
            <?php }else{?>
            <h1><span class="am-icon-btn am-danger am-icon-close am-text-xl"></span></h1>
            <p class="error"><?php echo($error); ?></p>
            <?php }?>
            <p class="detail"></p>

            <p class="jump">
                页面自动 <a id="href" href="<?php echo($jumpUrl); ?>">跳转</a> 等待时间： <b
                    id="wait"><?php echo($waitSecond); ?></b>
                <a class="am-margin-top am-btn am-btn-primary am-btn-block" href="<?php echo($jumpUrl); ?>">马上跳转</a>
            </p>
        </div>
        <script type="text/javascript">
            $(function () {
                var wait = document.getElementById('wait'), href = document.getElementById('href').href;
                var interval = setInterval(function () {
                    var time = --wait.innerHTML;
                    if (time <= 0) {
                        location.href = href;
                        clearInterval(interval);
                    }
                    ;
                }, 1000);
                $("#msgFrame").rabbit().layout_verticalMiddle($(window));
            });
        </script>
    </div>
</div>

