<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <!--最高版本浏览器指定-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--针对移动设备,不进行按比例缩放-->
    <if condition="$pageInfo.mode eq 1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </if>
    <!--页面标题-->
    <title>[title]</title>
    <!--简介-->
    <meta name="description" content="[description]">
    <!--关键词-->
    <meta name="keywords" content="[keywords]">

    <!--ios系统配置-->
    <meta name="apple-mobile-web-app-title" content="{$htmlTitle|var_being} - {$Think.lang.TZ_name}"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp 禁止网页转码-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <!--外部文件引入-->
    <css href="__PUBLIC__/amaze/css/amazeui.min.css"/>

    <js href="__PUBLIC__/amaze/js/jquery.min.js"/>
    <js href="__PUBLIC__/amaze/js/amazeui.min.js"/>
    <js href="__PUBLIC__/tuzi/js/Common.js"/>

    <css href="__PUBLIC__/diavision/css/diavision.css"/>
</head>

<body>