@charset "UTF-8";
//记录一般样式,规范化样式重绘

%border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

%a {
  color: $black;
  padding: $basePix/2;
  &:hover {
    color: $primaryColor;
  }
}

%inline {
  &-block {
    display: inline-block;
    *float: left;
    *display: block;
    overflow: hidden;
    position: relative;
  }
}

